html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}
#w0.grid-view tr:hover {
    background-color: #E7E8F3;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.column-id {
    width: 100px;
}
.column-status {
    width: 160px;
}
.column-date {
    width: 150px;
}

.file-input .file-preview-frame,
.file-input img.file-preview-image,
.file-input .file-preview-initial img,
.file-input video.file-preview-image,
.file-input .file-preview-initial video {
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
}

.field-album-images .file-preview-frame,
.field-album-images img.file-preview-image,
.field-album-images .file-preview-initial img {
    max-width: 100%;
    max-height: 160px;
}

.badge {
    margin: 0 10px;    
}

.slider.slider-horizontal {
    width: 100%;
}

.slider-handle {
    width: 30px;
    height: 30px;
}

.tooltip-arrow {
    display: none;
}

.tooltip-inner {
    width: 30px;
    padding: 2px 13px;
    background-color: transparent;
    cursor: pointer;
}

.slider .tooltip.top {
    margin-top: 0;
}

.tooltip {
    z-index: 1;
}

.wrap table img {
    max-width: 600px;
}

html .navbar-inverse {
    /*background: linear-gradient(to bottom, #4193df, #1972c4);*/
    background: #4193df;
    border: none;
}

html .dropdown-menu {
    box-shadow: none;
}

html .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

html .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(0,0,0,0.2);
}

.panel table {
    margin-bottom: 0;
}
.achievement-index .filters {
    display: none;
}
.quoation {
    display: block;
    padding-left: 43px;
    background: url('/images/quote.png') no-repeat left top 5px;
    background-size: 31px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
    min-height: 30px;
}
.skip {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #1972c4;
    line-height: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.field-relation-parent_id {
    margin-bottom: 12px;
}

.redactor-editor div, 
.redactor-editor p, 
.redactor-editor ul, 
.redactor-editor ol, 
.redactor-editor table, 
.redactor-editor dl, 
.redactor-editor figure, 
.redactor-editor blockquote, 
.redactor-editor pre {
    margin: 0;
}

#source-url {
    margin-top: 25px;
    line-height: 30px;
}

#match-list {
    height: 181px;
    overflow-y: auto;
}
#match-list > label {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    border: 1px solid #ddd;
    border-bottom: none;
}
#match-list > label:nth-of-type(odd) {
    background-color: #f9f9f9;
}
#match-list > label:last-child {
    border-bottom: 1px solid #ddd;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar .navbar-header {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
    .navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: rgba(0,0,0,0.2);
    }
}
