html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.column-id {
    width: 100px;
}
.column-status {
    width: 160px;
}
.column-date {
    width: 150px;
}

.file-input .file-preview-frame,
.file-input img.file-preview-image,
.file-input .file-preview-initial img {
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
}

.field-album-images .file-preview-frame,
.field-album-images img.file-preview-image,
.field-album-images .file-preview-initial img {
    max-width: 100%;
    max-height: 160px;
}

.badge {
    margin: 0 10px;    
}

.match-update .slider.slider-horizontal {
    width: 100%;
}

.match-update .slider-handle {
    width: 30px;
    height: 30px;
}

.match-update .tooltip-arrow {
    display: none;
}

.match-update .tooltip-inner {
    width: 30px;
    padding: 2px 13px;
    background-color: transparent;
    cursor: pointer;
}

.match-update .slider .tooltip.top {
    margin-top: 0;
}

.match-update .tooltip {
    z-index: 1;
}