.selectize-control {
    position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
    color: #1972c4;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    line-height: 19px;
    -webkit-font-smoothing: inherit;
    white-space: nowrap;
}

.selectize-dropdown {
    color: #727272;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
    background: url(/images/arrow_spriteup.png) no-repeat;
    background-color: #d6d6d6;
    background-position: top 8px right 5px;
    background-size: 15px;
    cursor: text;
    display: inline-block;
}

.selectize-input:hover,
.selectize-control.single .selectize-input.input-active:hover {
    background-position: top -22px right 5px;
}

.selectize-input {
    border: 1px solid #d0d0d0;
    padding: 3px 5px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(/images/arrow_sprite.png) no-repeat;
    background-position: top 8px right 5px;
    background-size: 15px;
    background-color: #e9e9e9;
}

.selectize-control.multi .selectize-input.has-items {
    padding: -2px 5px -5px;
}

.selectize-input:hover {
    background-position: top -22px right 5px;
}

.selectize-input.disabled,
.selectize-input.disabled * {
    cursor: default !important;
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 5px 5px;
    background: #f2f2f2;
    color: #1972c4;
    border: 0 solid #d0d0d0;
}

.selectize-control.multi .selectize-input > div.active {
    color: #1972c4;
    background-color: #e8e8e8;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
    color: #bbbbbb;
    background: #ffffff;
    border: 0 solid #ffffff;
}

.selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    height: 18px;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 2px 0 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.selectize-input > input::-ms-clear {
    display: none;
}

.selectize-input > input:focus {
    outline: none !important;
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left;
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #f0f0f0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #d6d6d6;
    margin: -1px 0 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}

.selectize-dropdown [data-selectable] .highlight {
    background: #e9e9e9;
    color: #0090e8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 0px 5px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
    color: #1972c4;
    background: #d6d6d6;
    cursor: default;
}

.selectize-dropdown .active {
    background-color: #1972c4;
    color: #ffffff;
}

.selectize-dropdown .active.create {
    color: #ffffff;
}

.selectize-dropdown .create {
    color: rgba(25, 114, 196, 0.5);
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
}

.selectize-control.single .selectize-input:hover {
    color: #0090e8;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
    cursor: text;
}

.selectize-control.rtl.single .selectize-input:after {
    left: 15px;
    right: auto;
}

.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
    opacity: 0.5;
    background-color: #fafafa;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
    border: none;
}
